.page {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition-duration: var(--transition-duration);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  margin-block-end: 10px;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--border-color, #ff0070);
  border-block-start: 1px solid var(--border-color, #ff0070);
}

.decorated-zone::before {
  bottom: 10px;
  left: 10px;
  border-inline-start: 1px solid var(--border-color, #ff0070);
  border-block-end: 1px solid var(--border-color, #ff0070);
}

.decor {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--accent-color, #ff0070);
}

.decor::before {
  content: "REC";
  position: absolute;
  top: -6px;
  right: 18px;
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.decor::after {
  content: "";
  position: absolute;
  top: -2px;
  right: 1px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-block-start: 55px;
  padding-block-start: 8px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 3px 13px;
  color: var(--border-color, #ff0070);
  font-size: 18px;
  line-height: 100%;
  text-transform: lowercase;
  background: transparent;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--secondary-color, #ff007040);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.header__title {
  align-self: center;
  margin-left: 0;
  color: var(--heading-text, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--box-shadow, #ff0070);
}

.header__text {
  justify-self: end;
  align-self: center;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.text-decor {
  color: var(--subtitle-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

.main {
  padding: 0 10px;
}

.title {
  margin-block-start: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.content__title {
  color: var(--section-title-color, #ff0070);
}

.section {
  margin-block-start: 50px;
  line-height: 130%;
}

.section__title {
  margin-bottom: 20px;
  color: var(--section-title-color, #ff0070);
  font-weight: 700;
  font-size: 18px;
}

.section__article__title {
  color: var(--subtitle-color, #000028);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  background-color: var(--accent-color, #ff0070);
}

.article {
  display: grid;
  gap: 10px;
}

.article__list {
  display: grid;
  gap: 20px;
}

.article__text {
  color: var(--text-color, #f1b2ce);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  line-height: 130%;
}

.section__article-text-link {
  text-decoration: none;
  text-shadow: 3px 2px var(--accent-color, #ff0070);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--border-bottom, #f1b2ce);
}

.section__article-text-link:focus {
  outline: 0;
}

.section__article-text-link:focus-visible {
  outline: 1px solid currentColor;
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.concentrate {
  display: grid;
  gap: 20px;
}

.concentrate .content__title {
  max-width: 315px;
}

.concentrate__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.concentrate-better {
  margin-block-start: 20px;
}

.concentrate-better__title {
  margin-block-end: 20px;
}

.focus__container .article {
  margin-block-end: 20px;
}

.section:last-of-type {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.section:last-of-type .section__title {
  grid-column: 1/-1;
}

.section:last-of-type .section__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
  min-height: 668px;
  margin-block-start: 40px;
  padding: 15px;
}

.footer__title {
  color: var(--heading-text, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--box-shadow, #ff0070);
}

@media (width>=768px) and (width<=1023px) {
  .header {
    gap: 110px;
    min-height: 100vh;
    padding: 130px 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
    border-inline-end: 1px solid var(--border-color, #ff0070);
    border-block-start: 1px solid var(--border-color, #ff0070);
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
    border-inline-start: 1px solid var(--border-color, #ff0070);
    border-block-end: 1px solid var(--border-color, #ff0070);
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__text {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }

  .main {
    padding: 20px 20px 0px;
  }

  .content__section {
    grid-template-columns: 1fr 2fr;
  }

  .focus__container {
    padding-top: 30px;
  }

  .concentrate {
    grid-template-columns: 1fr;
    padding-top: 30px;
  }

  .concentrate__container {
    grid-template-columns: 1fr;
  }

  .concentrate__title {
    width: 236px;
  }

  .concentrate-better {
    padding-top: 30px;
  }

  .concentrate-better__list {
    padding-top: 30px;
  }

  .section {
    padding-top: 30px;
  }

  .section__article__title {
    grid-column: 1 / -1;
  }

  .section:last-of-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section:last-of-type .section__title {
    grid-column: 1/-1;
  }

  .section:last-of-type .section__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section:last-of-type .section__image:first-of-type,
  .section:last-of-type .section__image:last-of-type {
    grid-column: span 2;
  }

  .section:last-of-type .section__image:nth-of-type(2),
  .section:last-of-type .section__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .section__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .footer {
    margin-top: 60px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 100vh;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
    border-inline-end: 1px solid var(--border-color, #ff0070);
    border-block-start: 1px solid var(--border-color, #ff0070);
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
    border-inline-start: 1px solid var(--border-color, #ff0070);
    border-block-end: 1px solid var(--border-color, #ff0070);
  }

  .header__title {
    margin-inline-start: -10px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-top: 0;
  }

  .header__text {
    width: 50%;
  }
  .main {
    padding: 20px 20px 0px;
  }

  .content__section {
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  .focus__container {
    padding-top: 30px;
  }

  .concentrate {
    grid-template-columns: 1fr;
    padding-top: 30px;
  }

  .concentrate__container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
  }

  .concentrate__title {
    width: 1fr;
  }

  .article {
    align-content: start;
  }

  .concentrate-better {
    padding-top: 30px;
  }

  .concentrate-better__list {
    padding-top: 30px;
  }

  .section {
    padding-top: 30px;
  }

  .section__article__title {
    grid-column: 1 / -1;
  }

  .section:last-of-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section:last-of-type .section__title {
    grid-column: 1/-1;
  }

  .section:last-of-type .section__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section:last-of-type .section__image:first-of-type,
  .section:last-of-type .section__image:last-of-type {
    grid-column: span 2;
  }

  .section:last-of-type .section__image:nth-of-type(2),
  .section:last-of-type .section__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .section__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .footer {
    margin-top: 60px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
